<div id="<%= dom_id task %>">
  <p>
    <strong>名前</strong>
    <%= task.title %>
  </p>

  <p>
    <strong>歓喜の声</strong>
    <%= task.content %>
    <%= task.created_at %>
  </p>

</div>
<p>
<%= link_to "詳細", task %>
</p>